<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Autoservice</title>{% endblock %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#">
                        <h1><span>Auto</span>service</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="{% url 'index' %}" data-after="Home">Home</a></li>
                        <li><a href="{% url 'cars' %}" data-after="Cars">Cars</a></li>
                        <li><a href="{% url 'orders' %}" data-after="Orders">Orders</a></li>
                        <li>
                            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
                                <input name="query" class="form-control" type="text" placeholder="Paieška">
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#">
                            {{ user.get_username }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'my-orders'%}">My orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Registration</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
<main>
    <section id="bg">
        <div class="bg container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</main>
<!--<footer>-->
<!--    <section id="footer">-->
<!--        <div class="footer container">-->
<!--            <div class="brand">-->
<!--                <h1><span>Auto</span>service</h1>-->
<!--            </div>-->
<!--            <div class="social-icon">-->
<!--                <div class="social-item">-->
<!--                    <a href="https://www.facebook.com/" target=”_blank”><img src="https://img.icons8.com/ios-filled/30/000000/facebook-new.png" alt="icon" /></a>-->
<!--                </div>-->
<!--                <div class="social-item">-->
<!--                    <a href="https://www.instagram.com/" target=”_blank”><img src="https://img.icons8.com/ios-filled/30/000000/instagram-new.png" alt="icon" /></a>-->
<!--                </div>-->
<!--                <div class="social-item">-->
<!--                    <a href="https://www.linkedin.com/" target=”_blank”><img src="https://img.icons8.com/ios-filled/30/000000/linkedin.png" alt="icon" /></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <p>Copyright © 2021 All rights reserved.</p>-->
<!--        </div>-->
<!--    </section>-->
<!--</footer>-->
<script type="text/javascript" src="{% static 'js/burger.js' %}"></script>
</body>
</html>
