{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>All cars in our service</h1>
<hr>
<div>
    {% for c in cars %}
    <div class="card">
        <a href="{% url 'car' c.id %}">{{c.car_model}} <span>{{c.year}} m.</span> </a>
      {% if c.cover %}
        <img src="{{ c.cover.url }}" alt="car photo">
      {% else %}
        <img src="{% static 'img/no-img.jpg' %}" class="card-img-top">
      {% endif %}
        <p class="description">{{ c.description | safe }}</p>
    </div>
    {% endfor %}
</div>
<div>
    <nav class="pages" aria-label="...">
        {% if cars.has_other_pages %}
            <ul>
                {% for i in cars.paginator.page_range %}
                    {% if cars.number == i %}
                        <li class="cur_page"><a href="">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}