{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Orders" %}</h1>
  {% if order_list %}
  <ul>
    {% for order in order_list %}
      <li>
        <a href="{{ order.id }}">{{ order.car }}</a>
        <img class="rounded-circle" src="{{order.client.profile.photo.url}}" style="height:100px; width:100px; ">
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "No orders." %}</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "back" %}</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}