{% extends "base.html" %}

{% block content %}
<h1>{{ order.car.owner }}</h1>
<hr>

<h2><strong>Date: &nbsp;</strong>{{ order.date }}</h2>
<h2><strong>Car: &nbsp;</strong>{{ order.car }}</h2>
<h2><strong>Status: &nbsp;</strong>{{ order.get_status_display }}</h2>
<hr>
{% for line in order.lines.all %}
    <h3 style="color:white; font-size:2rem;">
        <strong>Service: &nbsp;</strong> {{ line.service.name }} |
        <strong>Price: &nbsp;</strong> {{ line.service.price }} |
        <strong>Quantity: &nbsp;</strong> {{ line.qty }} |
    </h3>
{% endfor %}

{% endblock %}
