{% extends "base.html" %}

{% block content %}
<h1>{{ order.car.owner }}</h1>
<hr>

    <div class="container car">
        <h1><strong>Car: </strong>{{ order.car }}</h1>
        <h1><strong>Due date: </strong>{{ order.due_back }}</h1>
    </div>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Services:</h4>
    {% for orderline in order.lines.all %}
      <hr>
      <p class="text-muted"><strong> Service: {{ orderline.service }} ({{ orderline.service.price }}) </strong> - {{orderline.qty}}, SUM: {{orderline.line_total}}</p>
    {% endfor %}
  </div>
    <hr>
    <p>
        TOTAL: {{ order.total }}
    </p>
<hr>
<h4>Comments:</h4>
{% if order.comments.all %}
    {% for com in order.comments.all %}
      <hr>
      <strong>{{ com.commentator }}</strong>, <em>{{ com.date_created}}</em>
      <p>{{ com.content }}</p>
    {% endfor %}
{% else %}
<p>The order has no comments.</p>
{% endif %}
{% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br>
    <h4>Write a comment...</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.content }}<br>
      <input type="submit" value="Save">
    </form>
  </div>
  {% endif %}

{% endblock %}
