{% extends "base.html" %}

{% block content %}
<h1>Orders</h1>
<hr>
<div class="orders">
    {% if order_list %}
    <ul>
        {% for order in order_list %}
        <li><a href="{{ order.id }}">{{ order.car.owner }} {{ order.car.car_model }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No orders.</p>
    {% endif %}
</div>
<div>
    <nav class="pages" aria-label="...">
        {% if page_obj.has_other_pages %}
            <ul>
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="cur_page"><a href="">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}