{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Login error, please try again!</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>You need to login to perform this operation.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div>
    <table>
      <tr>
        <td class="td_name">Username: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td class="td_name">Password: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
  </div>
  <div>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>

<a href="{% url 'password_reset' %}" class="psw_link">Forgot your password?</a>

{% endblock %}
