@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
:root {
    --main-color: rgb(252, 204, 81);
    --background-color: rgb(46, 29, 14);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: var(--main-color);
}


/* Header */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 12vh;
    background-color: rgba(43, 42, 48, .5);
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(255, 1, 51, .1);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: var(--main-color);
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 10px;
}

#header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}


/* End of Header */


/* Main */

main li {
    font-size: 3rem;
    color: white;
}

#bg {
    background-image: url('http://www.automobiliuremontas.com/images/stiklu-keitimas.jpg');
    background-size: cover;
    background-position: top left;
    position: relative;
    z-index: 1;
}

#bg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    opacity: .8;
    z-index: -1;
}

#bg .bg {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bg .bg h1 {
    color:white;
    font-size:5rem;
}

#bg .bg h2 {
    color:white;
    font-size:3rem;
}

#bg .bg h3 {
    color:white;
    font-size:2rem;
}

#bg .bg div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg .bg td{
    color: white;
}

#bg .bg form {
    display: flex;
    display-direction: column;
    justify-content: center;
    align-items: center;
}



strong {
    color: var(--main-color);
}

hr {
    width: 60vw;
    margin: 2rem 0;
}

.card {
    min-height: 340px;
    margin: 0 4rem 4rem 0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    inline-size: 340px;
    overflow-wrap: break-word;
    border: var(--main-color) solid 5px;
}

.card a {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.card:hover a {
    color: var(--main-color);
}

.card img {
    height: 200px;
    width: 300px;
    border-radius: 30px;
    object-fit: fill;
}

.pages ul {
    display: flex;
}

.pages ul li {
    margin: 1rem;
    height:4rem;
    width: 4rem;
    background: var(--main-color);
    line-height: 4rem;
    text-align: center;
    border-radius: 20%;
}

.pages ul li a {
    font-size: 2rem;
    color: white;
}

.pages ul li:hover {
    background: white;
}

.pages ul li:hover a {
    color: var(--main-color);
}

.pages ul .cur_page {
    background:white;
}

.pages ul .cur_page a {
    color:var(--background-color);
}

.details li {
    margin-top: 2rem;
}

.orders ul li a {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.orders ul li:hover a {
    color: var(--main-color);
}

.orders ul li {
    margin: 2rem;
}

/* End of Main */


/* Footer */

#footer {
    background-color: var(--background-color);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 10px;
}

#footer .social-item {
    height: 30px;
    width: 30px;
    margin: 10px 10px;
}

#footer .social-item img {
    filter: invert(15%) sepia(70%) saturate(5015%) hue-rotate(339deg) brightness(103%) contrast(117%);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(215deg) brightness(103%) contrast(104%);
}

#footer p {
    color: white;
    font-size: 1rem;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}


/* End of Keyframes */


/* Media Query For Desktop */

@media screen and (min-width: 1280px) {
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after {
        display: none;
    }
}


/* End of Media Query For Desktop */